body {
}
.ui-input-text {
    width: 40%;
}

.ui-field-contain {
    margin: 0.25em 0 !important;
}

.ui-content {
	padding: 10px;
}

/* #canvas {
    visibility: hidden;
    display: none;
}
*/

#preview-background
{
  background-image: url('images/blank_board-300px.png');
  width: 300px;
  height: 300px;
  margin-bottom: 15px;
}

#preview
{
  position: absolute;
  margin-top: -315px;
}

.folder, .file{
    font-size: 10px;
}
 
.folder{
    background: url('images/folder_48.png') no-repeat 50% 0;
    margin: 2px;
    text-align: center;
	padding-top: 36px;
}
 
.file{
    background: url('images/document_empty_48.png') no-repeat 50% 0%;
    margin:2px;
    padding-top:40px;
    text-align:center;
}

#menu, #get_file_details{
    display: none;
}

/* SGF preamble form */

#prefsForm #textinput1, #prefsForm #textinput2, #editGameForm #textinput1, #editGameForm #textinput2 {
    width: 70%;
	float: left;
	margin-right: 10px;
	margin-top: 0px;
}

#prefsForm div.formdetails, #editGameForm div.formdetails {
	width: 30%;
	display: inline-block;
}

#prefsForm #textinput3, #prefsForm #textinput4, #editGameForm #textinput3, #editGameForm #textinput4 {
    width: 4em;
}

#prefsForm #textinputbr, #prefsForm #textinputwr, #editGameForm #textinputbr, #editGameForm #textinputwr {
    width: 3em;
}

/* Eidogo player */
#player-container {
	width: 300px !important;
	height: 300px !important;
	background: url(player/images/board-19-300.gif);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.50);
}
/* possibly used with moves slider */
input#slider {
	width: 280px;
	margin-left: 7px;
}



.ui-overlay-a.ui-dialog {
	opacity: 50%;
}

/* archives list - scrolling issues */

/*
#archive-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
*/

.acceptbutton-live {
    background-color: green;
}
