body {
}
.ui-input-text {
    width: 40%;
}

.ui-field-contain {
    margin: 0.25em 0 !important;
}

#preview-background
{
  background-image: url('images/blank_board.png');
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
}

#preview
{
  position: absolute;
  margin-top: -205px;
}
