<h1><a href="/send/file.sgf"> &dArr; Download SGF file</a></h1>

<div id="player-container"></div>

<script type="text/javascript">
var player = new eidogo.Player({
    container:       "player-container",
    theme:           "compact",
    sgfUrl:          "../output.sgf",
    enableShortcuts: true
});
</script>