<h1><%= title %></h1>

<form method="post" action="analyze" enctype="multipart/form-data" "method="post">
    <input type="file" name="image_file" multiple="multiple">
    <input type="submit" value="Upload file" />
</form>